.pill-nav a{
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: "Copperplate", fantasy;
    font-size: 18px;
    border-radius: 200px;
    color: black;
    
    transition: all .4s ease;

}

.pill-nav a:hover {
    transform:translate(-0.3rem, -0.3rem);
    background-color: #fdd300;
    color: white;
}

.pill-nav a.active:hover {
    background-color: #9e4fa2;
    color: white;
}

.pill-nav {
    text-align: right;
    letter-spacing: 0.65px;
    word-spacing: 10px;
    margin-top: 20px;
    margin-right: 60px;
}

.hero {
    background-image: linear-gradient(to bottom right, #fff7ad, #ffa9f9);
    background-position: 500%;
    padding-top: 400px;
    padding-bottom: 452px;
}

.img {
        position: absolute;
        top: 48%;
        right: -17%;
        transform: translate(-50%, -50%);
        height: 43rem;
        width: 42rem;

}

.text-overlay {
    position: absolute;
    top: 32%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #611b64;
    font-family: "Papyrus", fantasy;
    font-size: 4.5rem;
    font-weight: bolder;
    letter-spacing: -0.67rem;
}

.text-overlaycontainer {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #ffd200;
    font-family: "Brush Script M7", cursive ;
    font-size: 7rem;
    font-weight: bolder;
    text-shadow: 0rem 0rem 4rem #fdd300 ;
    letter-spacing: -0.45rem;
}

.text-overlaycontainertwo {
    position: absolute;
    top: 44%;
    left: 30.3%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Brush Script M7", cursive ;
    font-size: 7rem;
    font-weight: bolder;
    text-shadow:#fdd300 ;
    letter-spacing: -0.45rem;
}

.text-overlayh1 {
    position: absolute;
    text-align: left;
    top: 69%;
    left: 30%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #611b64;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.45rem;
    font-weight: bolder;
    letter-spacing: -.001rem;
}
